aiofiles==0.6
botocore==1.31.57
boto3==1.28.57
click==8.1.7
fastapi==0.109.1
graphene==3.0
graphql-core==3.1.2
orjson==3.9.15
pydantic==2.7.2
pymysql==0.10
python-dotenv==0.21.0
requests==2.31.0
rich==13.0.0
smart_open==5.0
sqlalchemy==2.0.3
typing-extensions==4.8.0
uvicorn[standard]==0.24.0
fastapi-mcp==0.3.3
PyYAML==6.0.1
