<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/json-viewer.css" />

    <!-- title last -->
    <title>KPN Bio Index</title>

    <!-- don't show vue app until compiled, don't let alleles overflow -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <!-- javascript files -->
    <script src="/static/json-viewer.js"></script>
</head>

<body>
    <center>
        <div id="app" v-cloak>
            <div class="mt-5 mb-4">
                <h1 style="font-family: 'Lato', sans-serif">KPN Bio-Index</h1>
            </div>

            <!-- locus input -->
            <nav class="w-50 mb-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" href="#by-region" data-toggle="tab" role="tab" id="region-tab" aria-controls="nav-region" aria-selected="true">Region</a>
                    <a class="nav-item nav-link" href="#by-trait" role="tab" data-toggle="tab" id="trait-tab" aria-controls="nav-trait" aria-selected="false">Trait</a>
                    <a class="nav-item nav-link" href="#by-variant" role="tab" data-toggle="tab" id="variant-tab" aria-controls="nav-variant" aria-selected="false">Variant</a>
                </div>
            </nav>
            <div class="tab-content w-50" id="nav-tabContent">

                <!-- search by region or gene -->
                <div class="tab-pane fade show active" id="by-region" role="tabpanel" aria-labelledby="region-tab">
                    <div class="input-group mx-auto px-md-5 bg-white rounded">
                        <input v-model="locus" class="form-control"
                               aria-describedby="locus"
                               placeholder="gene or region"
                               @change="" type="text">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary mb-3"
                                    @click="$store.dispatch('queryByRegion', {locus})">
                                Query
                            </button>
                        </div>
                    </div>
                    <div class="sm mb-4">Examples:
                        <a href="#" @click="locus='SLC30A8'">SLC30A8</a>,
                        <a href="#" @click="locus='chr9:21,940,000-22,190,000'">chr9:21,940,000-22,190,000</a>
                    </div>
                </div>

                <!-- search by phenotype -->
                <div class="tab-pane fade" id="by-trait" role="tabpanel" aria-labelledby="trait-tab">
                    <div class="input-group mx-auto px-md-5 bg-white rounded">
                        <input v-model="trait" class="form-control"
                               aria-describedby="locus"
                               placeholder="gene or region"
                               @change="" type="text">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary mb-3"
                                    @click="$store.dispatch('queryByTrait', {trait})">
                                Query
                            </button>
                        </div>
                    </div>
                    <div class="sm mb-4">Examples:
                        <a href="#" @click="trait='T2D'">T2D</a>,
                        <a href="#" @click="trait='Stroke'">Stroke</a>,
                        <a href="#" @click="trait='UACR'">UACR</a>,
                    </div>
                </div>

                <!-- search by variant -->
                <div class="tab-pane fade" id="by-variant" role="tabpanel" aria-labelledby="variant-tab">
                </div>
            </div>

            <!-- output JSON results -->
            <div class="w-50">
                <div v-if="$store.state.loading">
                    <button class="btn btn-light btn-sm" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>

                <!-- response here -->
                <div id="results" class="text-left"></div>
            </div>
        </div>
    </center>

    <!-- jquery, popper, bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- vue app -->
    <script>
        // SPA state
        let store = new Vuex.Store({
            state: {
                loading: false,
                results: {},
            },
            mutations: {
                setLoading: (state, flag) => state.loading = flag,
                setResults: (state, json) => state.results = json,
            },
            actions: {
                async queryByRegion({ commit }, { locus }) {
                    commit('setLoading', true);
                    commit('setResults', {});

                    return fetch(`/api/query/Associations?q=${encodeURIComponent(locus)}`)
                        .then(resp => resp.json())
                        .then(json => {
                            commit('setResults', json);
                            commit('setLoading', false);
                        });
                },

                async queryByTrait({ commit }, { trait }) {
                    commit('setLoading', true);
                    commit('setResults', {});

                    return fetch(`/api/query/PhenotypeAssociations?q=${encodeURIComponent(trait)}`)
                        .then(resp => resp.json())
                        .then(json => {
                            commit('setResults', json);
                            commit('setLoading', false);
                        });
                },
            }
        });

        // entry point
        let app = new Vue({
            el: '#app',
            store,
            data() {
                return {
                    locus: '',
                    viewer: new JSONViewer(),
                }
            },
            mounted() {
                let el = document.querySelector('#results');

                // add the viewer to the DOM
                el.appendChild(this.viewer.getContainer());
            },
            computed: {
                dataLoaded() {
                    return this.$store.results && Object.entries(this.$store.results).length > 0;
                },
            },
            watch: {
                '$store.state.results': function(json) {
                    this.viewer.showJSON(json, -1, 1);
                },
            },
        });
    </script>
</body>

</html>
