<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

    <!-- title last -->
    <title>KPN BIO Index</title>

    <!-- don't show vue app until compiled -->
    <style>
        [v-cloak] { display: none; }
    </style>
</head>

<body>
    <center>
        <div id="app">
            <div class="mt-5 mb-2">
                <h1 style="font-family: 'Lato', sans-serif">KPN BIO Index</h1>
            </div>

            <!-- locus input -->
            <div class="mx-auto p-3 mb-2 px-md-5 bg-white rounded w-50">
                <input v-model="locus" @change="" type="text" class="form-control" aria-describedby="locus"
                    placeholder="chromosome:start-stop">
            </div>

            <!-- match group -->
            <div class="btn-group mb-5" role="group" aria-label="Matches">
                <a class="btn btn-light btn-sm" href="#" @click="$store.dispatch('queryMetaAnalysis', {locus})">Bottom
                    Line
                    <span v-if="$store.state.metaAnalysisCount>0"
                        class=" badge badge-primary badge-pill">{{$store.state.metaAnalysisCount}}</span>
                </a>
                <a class="btn btn-light btn-sm" href="#" @click="$store.dispatch('queryGenes', {locus})">Genes
                    <span v-if="$store.state.geneCount>0"
                        class="badge badge-primary badge-pill">{{$store.state.geneCount}}</span>
                </a>
                <a class="btn btn-light btn-sm" href="#" @click="$store.dispatch('queryRegions', {locus})">Regions
                    <span v-if="$store.state.regionCount>0"
                        class="badge badge-primary badge-pill">{{$store.state.regionCount}}</span>
                </a>
            </div>

            <div class="w-75 mx-auto">
                <!-- meta-analysis -->
                <div v-if="tab=='metaanalysis'" id="metaanalysis">
                    <div v-if="$store.state.metaAnalysis===undefined" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-if="metaAnalysisData">
                        <bootstrap-table id="metaAnalysisTable" :columns="metaAnalysisColumns" :data="metaAnalysisData"
                            :options="{pagination:true,pageSize:25,showSearchButton:true}"></bootstrap-table>
                    </div>
                </div>

                <!-- genes -->
                <div v-if="tab=='genes'" id="genes">
                    <div v-if="$store.state.genes===undefined" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-if="geneData">
                        <bootstrap-table id="geneTable" :columns="geneColumns" :data="geneData"
                            :options="{pagination:true,pageSize:25,showSearchButton:true}"></bootstrap-table>
                    </div>
                </div>

                <!-- regions -->
                <div v-if="tab=='regions'" id="regions">
                    <div v-if="$store.state.regions===undefined" class="spinner-border text-primary mx-auto"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div v-if="regionData">
                        <bootstrap-table id="regionTable" :columns="regionColumns" :data="regionData"
                            :options="{pagination:true,pageSize:25,showSearchButton:true}"></bootstrap-table>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <!-- jquery, popper, bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- bootstrap table -->
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-vue.min.js"></script>

    <!-- vue app -->
    <script>
        Vue.use(BootstrapTable);

        // SPA state
        let store = new Vuex.Store({
            state: {
                tab: null,

                // how many estimated records per key space
                metaAnalysisCount: 0,
                geneCount: 0,
                regionCount: 0,

                // records per key space
                metaAnalysis: [],
                genes: [],
                regions: [],
            },
            mutations: {
                setTab: (state, tab) => state.tab = tab,

                // estimated counts
                setMetaAnalysisCount: (state, n) => state.metaAnalysisCount = n,
                setGeneCount: (state, n) => state.geneCount = n,
                setRegionCount: (state, n) => state.regionCount = n,

                // fetched records
                setMetaAnalysis: (state, records) => state.metaAnalysis = records,
                setGenes: (state, records) => state.genes = records,
                setRegions: (state, records) => state.regions = records,
            },
            actions: {
                // simple guess as to the number of records in the region
                async countMetaAnalysis(context, { locus }) {
                    await count(context, 'setMetaAnalysisCount', locus);
                },
                async countGenes(context, { locus }) {
                    await count(context, 'setGeneCount', locus);
                },
                async countRegions(context, { locus }) {
                    await count(context, 'setRegionCount', locus);
                },

                // perform fetch queries to get the actual records
                async queryMetaAnalysis(context, { locus }) {
                    await query(context, 'setMetaAnalysis', 'metaanalysis', locus);
                },
                async queryGenes(context, { locus }) {
                    await query(context, 'setGenes', 'genes', locus);
                },
                async queryRegions(context, { locus }) {
                    await query(context, 'setRegions', 'regions', locus);
                }
            }
        });

        // entry point
        export default new Vue({
            el: '#app',
            store,
            components: {
                'BootstrapTable': BootstrapTable,
            },
            data: {
                locus: '',
                regionColumns: [
                    { title: 'Region', formatter(v, r) { return `${r.chromosome}:${r.start}-${r.end}`; } },
                    { title: 'Tissue', field: 'biosample' },
                    { title: 'Method', field: 'method' },
                    { title: 'Annotation', field: 'annotation' },
                    { title: 'Gene', field: 'predictedTargetGene' },
                    { title: 'Score', field: 'score' },
                ],
                geneColumns: [
                    { title: 'Gene', field: 'name' },
                    { title: 'ENS', field: 'ensemblId' },
                    { title: 'Start', field: 'start' },
                    { title: 'End', field: 'end' },
                    { title: 'Type', field: 'type' },
                ],
                metaAnalysisColumns: [
                    { title: 'Chromosome', field: 'chromosome' },
                    { title: 'Position', field: 'position' },
                    { title: 'Ref Allele', field: 'reference' },
                    { title: 'Alt Allele', field: 'alt' },
                    { title: 'Phenotype', field: 'phenotype' },
                    { title: 'P-Value', field: 'pValue' },
                    { title: 'Effect', field: 'beta' },
                    { title: 'StdErr', field: 'stdErr' },
                    { title: 'Z-Score', field: 'zScore' },
                    { title: 'Samples', field: 'n' },
                ],
            },
            computed: {
                tab() { return this.$store.state.tab },

                noMetaAnalysis() { return !this.$store.state.metaAnalysisCount },
                noGenes() { return !this.$store.state.geneCount },
                noRegions() { return !this.$store.state.regionCount },

                regionData() { return this.$store.state.regions },
                geneData() { return this.$store.state.genes },
                metaAnalysisData() { return this.$store.state.metaAnalysis },
            },
            watch: {
                locus: debounce(function (locus) {
                    this.$store.dispatch('countMetaAnalysis', { locus });
                    this.$store.dispatch('countGenes', { locus });
                    this.$store.dispatch('countRegions', { locus });
                }, 500),
            }
        });

        // request the estimated count for the number of records
        function count({commit}, mutation, key, locus) {
            return fetch(`/api/count/${key}?q=${encodeURIComponent(locus)}`)
                .then(resp => resp.json())
                .then(json => commit(mutation, json.n))
                .catch(err => commit(mutation, 0));
        }

        // fetch all the records for a key in the given region
        function query({commit}, mutation, key, locus) {
            commit('setTab', key);
            commit(mutation, undefined);

            return fetch(`/api/query/${key}?q=${encodeURIComponent(locus)}`)
                .then(resp => resp.json())
                .then(json => commit(mutation, json.records))
                .catch(err => commit(mutation, []));
        }

        // call function after a delay, overwrite any previous delay in place
        function debounce(f, wait, immediate) {
            let timeout = null;

            return function () {
                let context = this;
                let args = arguments;
                let callNow = immediate && !timeout;

                let later = function () {
                    timeout = null;
                    if (!immediate) {
                        f.apply(context, args);
                    }
                };

                clearTimeout(timeout);
                timeout = setTimeout(later, wait);

                if (callNow) {
                    f.apply(context, args);
                }
            };
        }
    </script>
</body>

</html>
